:root {
  --header-color-dark:hsl(209, 23%, 22%);
  --color-home-dark:hsl(207, 26%, 17%);
  --veryDark-lightMode:hsl(200, 15%, 8%);
  --white-half:hsl(0, 0%, 52%);
  --light-gray:hsl(0, 0%, 98%);
  --dark-light-test:hsl(0, 0%, 100%);
  --main-color:white; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

html {
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%; }

body {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: cairo; }

.container {
  width: 92%;
  height: 100%;
  margin: 0 auto; }

.get-started {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--blue-second);
  border: none;
  color: var(--white-color);
  font-size: 1.8rem; }

.scroll-to-top {
  background-color: var(--blue-second);
  position: fixed;
  right: 5%;
  bottom: 50px;
  font-size: 2rem;
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 3px;
  display: none; }

.hidden {
  display: none; }

.check {
  background-color: green; }

.hidden-section {
  display: none; }

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: var(--header-color-dark);
  -webkit-box-shadow: 5px 5px 2px 3px var(--color-home-dark);
          box-shadow: 5px 5px 2px 3px var(--color-home-dark);
  z-index: 10000; }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--main-color);
    font-weight: bold; }
    @media (max-width: 767px) {
      header .container .logo {
        font-size: 20px; } }
    header .container i {
      margin-right: 20px;
      font-size: 1.5rem;
      cursor: pointer; }
      @media (max-width: 767px) {
        header .container i {
          margin-right: 10px;
          font-size: 1.2rem; } }

.home {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-home-dark); }
  .home .container {
    padding: 110px 0; }
    .home .container .search {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .home .container .search [type=search] {
        padding: 10px;
        border: none;
        width: 400px;
        outline: none;
        font-size: 1.4rem;
        background-color: var(--header-color-dark);
        color: var(--main-color);
        border-radius: 5px; }
        .home .container .search [type=search] .hidden {
          display: none; }
        @media (max-width: 767px) {
          .home .container .search [type=search] {
            width: 100%; } }
      .home .container .search select {
        padding: 10px 30px;
        background-color: var(--header-color-dark);
        color: var(--main-color);
        outline: none;
        border: none; }
        @media (max-width: 767px) {
          .home .container .search select {
            margin-top: 70px; } }
        .home .container .search select option {
          padding: 10px;
          font-size: 1.4rem;
          margin-top: 10px; }
    .home .container .cards {
      width: 100%;
      padding: 40px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      justify-items: center; }
      @media (max-width: 767px) {
        .home .container .cards {
          grid-template-columns: repeat(1, 1fr); } }
      @media (min-width: 768px) and (max-width: 991px) {
        .home .container .cards {
          grid-template-columns: repeat(2, 1fr); } }
      @media (min-width: 992px) and (max-width: 1200px) {
        .home .container .cards {
          grid-template-columns: repeat(3, 1fr); } }
      .home .container .cards .card {
        width: 250px;
        min-height: 400px;
        color: white;
        background-color: var(--header-color-dark);
        border-radius: 7px;
        margin-top: 10px;
        cursor: pointer;
        z-index: 1000; }
        .home .container .cards .card img {
          width: 100%;
          height: 50%; }
        .home .container .cards .card .card-content {
          padding: 10px; }
        .home .container .cards .card h2 {
          font-weight: bold; }
        .home .container .cards .card .card-details {
          padding: 10px 0; }
          .home .container .cards .card .card-details div {
            margin-top: 8px; }
        .home .container .cards .card .key {
          font-weight: bold;
          font-size: 1rem; }
        .home .container .cards .card .value {
          margin-left: 10px; }

section.details {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-home-dark); }
  section.details .container {
    padding: 120px 0; }
    section.details .container button {
      padding: 10px 20px;
      font-weight: bold;
      background-color: var(--header-color-dark);
      -webkit-box-shadow: 2px 2px 2px 2px var(--header-color-dark);
              box-shadow: 2px 2px 2px 2px var(--header-color-dark);
      color: white;
      border-radius: 5px;
      border: none;
      font-size: 20px;
      cursor: pointer; }
    section.details .container .all {
      margin-top: 60px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: var(--main-color); }
      @media (max-width: 767px) {
        section.details .container .all {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: columns;
                  flex-direction: columns;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      section.details .container .all .imageimg {
        width: 100%; }
        @media (max-width: 767px) {
          section.details .container .all .imageimg {
            width: 200px; } }
        @media (min-width: 768px) and (max-width: 1200px) {
          section.details .container .all .imageimg {
            width: 200px; } }
      @media (max-width: 767px) {
        section.details .container .all .content {
          margin-top: 20px; } }
      section.details .container .all .content h3 {
        font-size: 2rem;
        font-weight: bold;
        text-transform: capitalize; }
      section.details .container .all .content .details-text div {
        margin-top: 10px; }
        section.details .container .all .content .details-text div .key {
          font-weight: bold;
          font-size: 1.3rem;
          padding: 10px; }
        section.details .container .all .content .details-text div .value {
          font-size: 1rem;
          padding: 10px; }
        section.details .container .all .content .details-text div .border {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%;
          margin-top: 20px; }
      section.details .container .all .content .border {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 1200px) {
          section.details .container .all .content .border {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start; } }
      section.details .container .all .content .border-button {
        margin: 20px; }
        @media (max-width: 767px) {
          section.details .container .all .content .border-button {
            font-size: 12px; } }

/*# sourceMappingURL=style.css.map */