:root{
  --header-color-dark:hsl(209, 23%, 22%);
  --color-home-dark:hsl(207, 26%, 17%);
  --veryDark-lightMode:hsl(200, 15%, 8%);
  --white-half:hsl(0, 0%, 52%);
  --light-gray:hsl(0, 0%, 98%);
  --dark-light-test:hsl(0, 0%, 100%);
  --text-color:white;
}
